global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  log-health-checks
    timeout connect 5s
    timeout client  1h
    timeout server  1h

frontend k8s_api
    bind *:6443
    mode tcp
    option tcplog
    default_backend k3s_servers

frontend k8s_gateway
    bind *:80
    mode tcp
    option tcplog
    default_backend k3s_gateway

backend k3s_servers
    mode tcp
    balance roundrobin
    option tcp-check
{% for host in groups['k3s_servers'] %}
    server {{ hostvars[host]['ec2_tags']['Name'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:6443 check
{% endfor %}

backend k3s_gateway
    mode tcp
    balance roundrobin
    option tcp-check
{% for host in groups['k3s_servers'] %}
    server {{ hostvars[host]['ec2_tags']['Name'] }}-gw {{ hostvars[host]['ansible_default_ipv4']['address'] }}:8080 check
{% endfor %}
