[defaults]
inventory = inventory/aws_ec2.yml
host_key_checking = True
remote_user = ubuntu
forks = 10
roles_path = roles

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, amazon.aws.aws_ec2

[ssh_connection]
pipelining = True
ssh_args = -o StrictHostKeyChecking=accept-new
