apiVersion: v1
kind: Secret
metadata:
  name: coffeeshop-secret
  namespace: coffeeshop
type: Opaque
stringData:
  # PG_PASSWORD: your_db_password_here (plaintext)
  PG_PASSWORD: REPLACE_WITH_PASSWORD
  
  # PG_URL: postgres://postgres:<password>@postgres:5432/postgres
  PG_URL: REPLACE_WITH_PG_URL
  
  # PG_DSN_URL
  PG_DSN_URL: REPLACE_WITH_PG_DSN_URL

  # RABBITMQ_DEFAULT_USER
  RABBITMQ_DEFAULT_USER: REPLACE_WITH_RABBITMQ_USER
  
  # RABBITMQ_DEFAULT_PASS
  RABBITMQ_DEFAULT_PASS: REPLACE_WITH_RABBITMQ_PASS
  
  # RABBITMQ_URL
  RABBITMQ_URL: REPLACE_WITH_RABBITMQ_URL
